<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <form class="form" >
  <ion-grid class="homepage">
   <ion-row>
    <ion-input class="input" placeholder="Full Name" name="name" type="text" [(ngModel)]="profile.name" ></ion-input>
   </ion-row>
   <br>
   <ion-row>
      <ion-input class="input" placeholder="Nickname" name="nickname" type="text" [(ngModel)]="profile.nickname"  ></ion-input>
     </ion-row>
     <br>
     <ion-row>
        <ion-input class="input" placeholder="Age" name="age" type="number" [(ngModel)]="profile.age"  ></ion-input>
       </ion-row>
       <br>
       <ion-row>
          <ion-button class="button" type="submit" color="secondary" (click)="submit()">Submit</ion-button>
         </ion-row>
  </ion-grid>
</form>
</ion-content>

